<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title data-th-text="${loggedInUser.name}+' | SCM'">Profile Page</title>
  </head>
  <body>
    <div id="content">
      <!-- show sidebar -->
      <div th:if="${loggedInUser}">
        <div data-th-replace="~{user/sidebar::sidebar}"></div>
      </div>

      <div class="sm:pl-64 pt-20">
        <h1 class="text-4xl">Profile Page</h1>
      </div>
    </div>
    <script>
      console.log("Profile page");
    </script>
  </body>
</html>
